@import url('animation.css');



.image_hobby {
    display: flex;
    justify-content: space-between; /* Centraliza as imagens horizontalmente */
    max-width: 80%; /* Define a largura máxima para o container */
    margin-top: 20px; /* Espaço no topo do container */
    margin-left: 150px;
    
}

.image_item {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    flex: 1; /* Distribui o espaço disponível igualmente entre os itens */
    padding: 0 10px; /* Espaçamento interno para cada item */
    display: flex; /* Para alinhar conteúdo verticalmente */
    flex-direction: column; /* Alinha itens em coluna */
    align-items: center; /* Centraliza itens verticalmente */
    animation: slideInLeft 2s ease-out;
}

.image_item img {
    width: 320px; /* Largura das imagens */
    height: 500px; /* Altura automática para manter proporções */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Borda arredondada */
}

.image_text {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-size: 17px; /* Tamanho do texto */
    color: white; /* Cor do texto */
}

