@import url('animation.css');
 


/* Estilo para o título h3 dentro da div .content */
.texto1_titulo{
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    font-size: 35px; /* Tamanho da fonte do título h3 */
    margin-left: 35px; /* Move o título h3 20 pixels para a esquerda */
    margin-top: 20px ;
    color: #ffffff; /* Cor do título h3 */
    
    /* Animação de fade-in quando a página carregar */
    animation: fadeIn 2s ease-out;

}


.texto_1 {
    font-size: 20px;
    margin-left: 35px;
    margin-top: 20px;
    color: #cecece;
    animation: slideInLeft 2s ease-out;
    

    /* Estilo da borda */
    display: inline-block; /* Permite que a borda se ajuste ao conteúdo */
    padding: 10px; /* Espaçamento interno da borda */
    padding: 10px; /* Espaçamento interno da borda */
    
}
