<div class="container hello_world ">
  <h2>Hello world!</h2>
</div>

<div class="container texto_1">
  <h1><br>Bem Vindo ao meu Portifolio<br></h1>
  <div class="container texto_2">
    <p> Aqui vou falar um pouco sobre mim,<br> minha jornada na faculdade, meus interesses, sonhos e objetivos tanto pessoais quanto profissionais. </p>
  </div>
</div>
<div class="container texto_1">
  <h1><br>Sobre Mim<br></h1>
  <div class="container texto_2">
    <p>Eu sou Guilherme Viana Filgueiras, estudante de Ciência da Computação no meu quarto semestre na Unirriter - FAPA.<br> Meu principal interesse está voltado para o front-end.<br> Meu objetivo é conseguir um estágio nessa área para aprender e me desenvolver profissionalmente.<br>Além disso, tenho um interesse pessoal em jogos, especialmente do estilo FPS, mas também aprecio jogos em geral.<br></p>
</div>
</div>
