@import url('animation.css');

/* Estilo para o título h3 dentro da div .content */
.content h3{
    font-size: 35px; /* Tamanho da fonte do título h3 */
    text-align: center;
    margin-top: 70px;
    color: #ffffff; /* Cor do título h3 */
    /* Animação de fade-in quando a página carregar */
    animation: fadeIn 2s ease-out;

}


.content .curriculo {
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    max-width: 700px; /* Largura máxima da imagem */
    display: block; /* Para centralizar a imagem */
    margin: auto;
    animation: slideInLeft 2s ease-out;
}
